.auth-form {
    max-width: 360px;
    margin: 60px auto;
    padding: 40px;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.05);
    background: #fff;
  }

  .img-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    border: solid 1px #dfdede;
    padding: 10px;
  }

  .profile-pic {
    width: 75px;
    border-radius: 50%;
    margin: auto;
  }